<!DOCTYPE html>

<html>

<head>
    <title>Error</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    <h1>{{>header}}</h1>
    <p>{{errorMessage}}</p>
    </div>
    <p>{{>footer}}</p>
</body>

</html>